<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>
  <event name="VehicleRFWC_Watercraft">
    <nominal>15</nominal>
    <min>10</min>
    <max>15</max>
    <lifetime>300</lifetime>
    <restock>3</restock>
    <saferadius>500</saferadius>
    <distanceradius>500</distanceradius>
    <cleanupradius>200</cleanupradius>
    <flags deletable="0" init_random="0" remove_damaged="1"/>
    <position>fixed</position>
    <limit>mixed</limit>
    <active>1</active>
    <children>
      <child lootmax="0" lootmin="0" max="2" min="1" type="RFWC_Whaler" />
      <child lootmax="0" lootmin="0" max="2" min="1" type="RFWC_CarpBoat" />
      <child lootmax="0" lootmin="0" max="2" min="1" type="RFWC_CarpBoat_Rusty" />
      <child lootmax="0" lootmin="0" max="4" min="2" type="RFWC_Zodiac_Black" />
      <child lootmax="0" lootmin="0" max="4" min="2" type="RFWC_Zodiac_Orange" />
      <child lootmax="0" lootmin="0" max="2" min="1" type="RFWC_DragBoat_Red" />
      <child lootmax="0" lootmin="0" max="2" min="1" type="RFWC_DragBoat_Black" />
      <child lootmax="0" lootmin="0" max="2" min="1" type="RFWC_Seadoo_Camo" />
      <child lootmax="0" lootmin="0" max="2" min="1" type="RFWC_Seadoo_Orange" />
      <child lootmax="0" lootmin="0" max="2" min="1" type="RFWC_Seadoo_Orange" />
    </children>
  </event>
</events>
