<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>
    <!-- HypeTrain -->
    <event name="StaticHypeTrain">
        <nominal>3</nominal>
        <min>1</min>
        <max>5</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>1000</distanceradius>
        <cleanupradius>1000</cleanupradius>
        <secondary>InfectedIndustrial</secondary>
        <flags deletable="1" init_random="0" remove_damaged="0"/>
        <position>fixed</position>
        <limit>child</limit>
        <active>1</active>
        <children/>
    </event>
</events>
