<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>
    <!-- HypeTrain -->
    <event name="VehicleHypeTrain">
        <nominal>1</nominal>
        <min>0</min>
        <max>0</max>
        <lifetime>3888000</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="1" init_random="0" remove_damaged="0"/>
        <position>fixed</position>
        <limit>child</limit>
        <active>1</active>
        <children/>
    </event>
</events>
