body {
    padding: 10px;
    background-color: black;
}

button {
    padding: 5px;
    margin: 10px;
}

th, td {
    padding-right: 10px
}

.result {
    padding: 5px;
}

.selected {
    background-color: cyan;
}

.simulink {
    cursor: pointer;
    text-underline: blue;
}
